---
import styles from "/src/styles/scam.module.css";
import Buttin from "../components/nothing.jsx";
import ViewTransitions from "astro/components/ViewTransitions.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Selamat! Anda Menang Hadiah</title>
    <style>
      {styles}
    </style>
    <ViewTransitions/>
  </head>
  <body class={styles.scamBody}>
    <h1>Selamat! Anda memenangkan hadiah besar!</h1>
    <h2>
      Silakan isi formulir berikut untuk mengklaim hadiah Anda segera.
    </h2>
   <Buttin client:idle/>
  </body>
</html>
