---
import ViewTransitions from "astro/components/ViewTransitions.astro";

const { headers } = Astro.request;
const cookie = headers.get("cookie");
const dataSent = cookie && cookie.includes("dataSent=true");
console.log(dataSent)

if (!dataSent) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: '/', // Ganti dengan halaman yang diinginkan
    },
  });
}
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <ViewTransitions/>
</head>
<body>
    
    <h1>Selamat, Anda bisa mengakses halaman ini!</h1>
</body>
</html>

<!-- Konten halaman /data jika data sudah dikirim -->
